<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="K_AkicaDb"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Trsa\Source\Repos\K_Akica\K_Akica.API.Contracts\k_akica.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>