div[class^="Timeline-"] {
    display: flex;
}

.Timeline-Node {
    flex-flow: column;
    border: 0.1rem solid black;

    flex: 1;
}

.Timeline-Header {
    flex: 0;
}

    .Timeline-Header h3 {
        margin: 0;
    }

.Timeline-Time {
    padding: 1rem;
    flex: 0;
}

.Timeline-Duration {
    justify-items: center;
    flex: 0;
}

.Timeline-Icons {
    justify-content: flex-end;
    flex: 1;
}

.Timeline-Description {
    flex: 1;
}
