<div class="timeline-item container" id="newFeedItem">
    <div class="timeline-content">
        <div class="timeline-header themed-element">Add new</div>

            <div class="flex flex-1">

                <div class="flex-column flex-0">
                    
                    <div class="flex pad">
                        @await Component.InvokeAsync("ToggleComponent", "Poop")
                        
                        <div class="pad"> </div>
                        
                        @await Component.InvokeAsync("ToggleComponent", "Wizz")
                    </div>


                    <div class="flex-1 pad">
                        @await Component.InvokeAsync("KnobComponent", "Duration")
                    </div>

                </div>

                <div class="flex flex-1 pad">
                    <textarea class="flex-1" name="Description" placeholder="Description" id="Description"></textarea>
                </div>

            </div>

            <div class="pad">
                <button type="button" class="btn themed-element m-auto d-block" onclick="refreshFeed()">Save</button>
            </div>

    </div>
</div>
<script src="~/js/Components/newFeedItem.js"></script>