@model K_Akica.API.Contracts.Communication.FeedItemRequest


<div id="addNewFeedDiv" class="container">

    <div class="timeline-item" id="newFeedItem">
        <div class="timeline-content mx-auto">
            <div class="timeline-header">Add new</div>

            <form id="addForm">

                <div class="container">
                    <div class="row mt-3">

                        <div class="col">
                            <div class="col-2">
                                <label class="switch">
                                    <input type="checkbox" name="Poop" data-val="true" value="true" data-toggle="Poop" />
                                    <span class="slider round" data-on="POOP"></span>
                                    <span class="absolute-no">POOP</span>
                                </label>
                            </div>

                            <div class="col-2">
                                <label class="switch">
                                    <input type="checkbox" name="Wizz" data-val="true" value="true" data-toggle="Wizz" />
                                    <span class="slider round" data-on="WIZZ"></span>
                                    <span class="absolute-no">WIZZ</span>
                                </label>
                            </div>
                        </div>
                        <div class="col" id="knob">
                            <input type="text" name="Duration" value="10" class="dial" data-min="0" data-max="60" data-step="5" data-width="50rem">
                            <script>
                                $(function () {
                                    $(".dial").knob();
                                });
                            </script>
                        </div>


                    </div>

                    <div class="row ">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control col", rows = "4" })
                        @*<textarea id="newDesc" class="col" rows="4"/>*@
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary px-3 my-2 mx-auto " onclick="refreshFeed($('#addForm'), './Home/AddFeed')">Save</button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

