@model K_Akica.API.Contracts.Communication.FeedItemRequest


<div id="addNewFeedDiv">

    <form id="feedForm" asp-action="AddFeed" autocomplete="off" target="_self">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="PooperId" />


        <div class="form-row flex-xl-row">
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label switch">
                        <input type="checkbox" class="form-check-input" asp-for="Poop" /> @Html.DisplayNameFor(model => model.Poop)
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label switch">
                        <input type="checkbox" class="form-check-input" asp-for="Wizz" /> @Html.DisplayNameFor(model => model.Wizz)
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="flex-fill">
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" style="right:15px; position:fixed" onclick="onFormSubmitClicked($('#feedForm')[0])" />


        </div>


    </form>
</div>

<script>
    function onFormSubmitClicked(form) {
        $('#PooperId').val(getPooperId());
        event.preventDefault();
        form.submit();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
