@model IEnumerable<K_Akica.API.Contracts.Models.FeedItem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, K_AkicaWeb




    <h1>Activity feed</h1>
    @if (Model.Any())
    {
    <div class="fullHeight" id="feedTimeline">
        <ul class="timeline fullHeight" id="timelineMain">
            @foreach (var item in Model)
            {
                var cls = item.Poop && item.Wizz ? " poop wizz" : item.Poop ? " poop" : item.Wizz ? " wizz" : "";

                <li class="timeline">
                    <div class="icon @cls"></div>
                    <details class="panel">
                        <summary>@item.Timestamp.ToString("yyyy/MM/dd HH:mm:ss")</summary>
                        <p>@item.Description</p>
                    </details>
                </li>
            }
        </ul>
    </div>
    }
<partial name="AddFeed" model="new K_Akica.API.Contracts.Communication.FeedItemRequest()"/>