@model IEnumerable<FeedItemViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, K_AkicaWeb


<h1 class="project-name">Activity feed</h1>

<div id="feedTimeline">
    <div id="feedHolder" class="container">

        @foreach (var item in Model)
        {
            @await Component.InvokeAsync("TimelineItem", item)
        }


    </div>
            @await Component.InvokeAsync("NewFeedItem")
</div>
