@model IEnumerable<K_Akica.API.Contracts.Models.FeedItem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, K_AkicaWeb


        <h1 class="project-name">Activity feed</h1>
    
        <div id="feedTimeline" >
            <div id="feedHolder" class="container">

                @foreach (var item in Model)
                {
                    <div class="timeline-item">
                        <div class="timeline-icon"></div>
                        <div class="timeline-content">
                            <h2>@item.Timestamp.ToString("yyyy/MM/dd HH:mm:ss")</h2>
                            <p>
                                @foreach (var line in item.Description?.Split(Environment.NewLine) ?? new string[] { })
                                {
                                    @line
                                    <br />
                                }
                            </p>
                        </div>
                    </div>
                }
                <partial name="AddFeed" model="new K_Akica.API.Contracts.Communication.FeedItemRequest()" />
            </div>
        </div>
