@model IEnumerable<K_Akica.API.Contracts.Models.Pooper>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, K_AkicaWeb

<table id="PooperTable">

    @foreach (var pooper in Model)
    {
        <tr>
            <td hidden>@pooper.Id</td>
            <td>@pooper.Name</td>
            <td>@pooper.Race</td>
            <td>@pooper.Description</td>
        </tr>
    }
</table>


        <script>

            addListener('#PooperTable tr', function (value)
            {
                refreshLink('/Home/FeedItems', { id: value }, '#nDiv')
                //alert(value);
            });
        </script>

