
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, K_AkicaWeb




<nav class="sidenav navbar flex-column navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand">Poopers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="nav collapse navbar-collapse flex-column nav-pills" id="navbarNav" role="tablist" aria-orientation="vertical">
            @foreach (var pooper in await K_Akica.API.Contracts.Services.K_AkicaClient.GetAllPoopersAsync())
            {
                var id = "pooper" + pooper.Id;
                <div class="hoverable pooperHolder" data-pooperid="@pooper.Id" onclick="onPooperHolderClick(@pooper.Id, this)"> @pooper.Name </div>
            }
        </div>
</nav>
