
html, body, main {
    height: 100vh;
    width: 100vw;
}


h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5px;
}

.sidenav {
    height: 100%;
    width: 160px;
    padding: 0.5rem 0.5rem;
}

.fullHeight {
    height:100%;
}

#pooperFeed {

    display: flex;
    flex-flow: column;
}

#feedTimeline {
    flex: 1;
    overflow-y: auto;
}

#addNewFeedDiv {
    margin-top: 10px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
   
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) {
    .sidenav {
        flex-direction: row !important;
        width: 100%;
        height: auto;
    }

    .sidenav .nav {
        height: 195px;
    }

    #pooperFeed {
        margin-left: 20px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}