.sidenav {
    position: fixed;
    z-index: 2;

    overflow: hidden;
}

.sidenav div {

    font-size: 25px;
    width: 100%;
    text-align: center;
}

.sidenav .hoverable {
    cursor: pointer;
}

.sidenav .hoverable:hover {
    background-color: #ede8af;
}

.sidenav .clicked {
    background-color: #aadde4 !important;
}

.sidenav .navbar-brand {
    padding-bottom: 20px;
}

.sidenav .nav {
    flex-wrap: nowrap;
    overflow-y: auto;
}



