.sidenav {
    z-index: 2;

    overflow: hidden;
}

.sidenav div {

    font-size: 25px;
    width: 100%;
    text-align: center;
}

.sidenav .hoverable {
    cursor: pointer;
}

.sidenav .hoverable:hover {
    background-color: #ede8af;
}

.sidenav .clicked {
    background-color: #aadde4 !important;
}

.sidenav .navbar-brand {
    padding-bottom: 20px;
}

.sidenav .nav {
    flex-wrap: nowrap;
    overflow-y: auto;
}

@media (max-width: 991px) {
    .sidenav {
        flex-direction: row !important;
        width: 100%;
        height: auto;
    }

        .sidenav .nav {
            height: 195px;
        }

    #pooperFeed {
        margin-left: 20px;
    }

    main {
        flex-direction: column !important;
    }
}

