@import "variables.scss";

$middle-line-size: .2rem;
$arrow-border-size: .8rem;


*, *:before, *:after {
    @include vendorPrefixed(box-sizing, border-box);
}



#feedTimeline {

    img {
        max-width: 100%;
    }
    // Timeline
    #feedHolder {
        width: 100%;
        position: relative;
        padding: 1rem 0;
        @include vendorPrefixed(transition, all .4s ease);
        background-image: linear-gradient($color-primary, $color-primary);
        background-size: $middle-line-size 100%;
        background-repeat: no-repeat;
        background-position: center 3rem;
    }


    #newFeedItem {

        .timeline-item {
            width: 45%;
        }

        .timeline-content {
            float: none;
            width: 45%;
            margin: auto;

            &:before {
                display:none;
            }

            & textarea {
                resize: none;
                width: 100%;
                /*height: 100%*/
            }
        }
    }


    .timeline-item {
        margin-bottom: 1rem;
        position: relative;
        @extend %clearfix;

        .timeline-icon {
            background: $color-primary;
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 0.7rem;
            left: 50%;
            overflow: hidden;
            margin-left: -1.425rem;
            @include vendorPrefixed(border-radius, 50%);
        }

        .timeline-content {
            width: 45%;
            background: $color-secondary;
            /*padding: 0.6rem;*/
            @include vendorPrefixed(box-shadow, 10px 11px 20px 0px $color-shadow);
            @include vendorPrefixed(border-radius, 2rem);
            @include vendorPrefixed(transition, all .3s ease);

            &.empty-content .timeline-header {
                height: 5rem;
                padding-top: 0.8rem;
                @include vendorPrefixed(border-radius, 2rem 2rem 2rem 2rem);
            }

            .timeline-header {
                font-size: 2rem;
                padding-left: 1rem;
                /*color: $color-secondary;
                background: $color-primary;*/
                @include vendorPrefixed(border-radius, 2rem 2rem 0px 0px);

                i {
                    float: right;
                    padding-right: 2rem;
                    line-height: 3rem;
                }
            }

            p {
                word-wrap: break-word;
                min-height: 1rem;
                padding: 0 0 1rem 1rem;
            }

            &:before {
                content: '';
                position: absolute;
                left: 45%;
                top: 2rem;
                width: 0;
                height: 0;
                border-top: $arrow-border-size solid transparent;
                border-bottom: $arrow-border-size solid transparent;
                border-left: $arrow-border-size solid $color-primary;
            }
        }

        &:nth-of-type(2n) .timeline-content {
            float: right;

            &:before {
                content: '';
                right: 45%;
                left: inherit;
                border-left: 0;
                border-right: $arrow-border-size solid $color-primary;
            }
        }
    }
}

    /*@media screen and (max-width: 768px) {
        #feedHolder {
            margin: 30px;
            padding: 0px;
            width: 90%;

            &:before {
                left: 0;
            }

            .timeline-item {
                .timeline-content {
                    width: 90%;
                    float: right;

                    &:before {
                        left: 10%;
                        margin-left: -6px;
                        border-left: 0;
                        border-right: 7px solid $color-primary;
                    }
                }

                .timeline-icon {
                    left: 0;
                }
            }
        }
    }*/
