@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

// Variables
$bg-body: #f9f9f9;

$red: #ee4d4d;
$blue: #2b2e48;
$primary-color: $red;
$secondary-color: $blue;


// Typography
$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: "Dosis", arial, tahoma, verdana;

$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;


// Mixins and Placeholders
%clearfix {
    &:after, &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

@mixin prefix($prop, $val) {
    @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
        #{$prefix}#{$prop}: $val;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}



img {
    max-width: 100%;
}


#feedTimeline {
    padding-bottom: 30px;
    padding-top: 10px;

    // Timeline
    #feedHolder {
        width: 100%;
        position: relative;
        padding: 0px 20px;
        @include prefix(transition, all .4s ease);

        &:before {
            content: "";
            width: 3px;
            height: 100%;
            background: $timeline-color;
            left: 50%;
            top: 0;
            position: absolute;
        }

        &:after {
            content: "";
            clear: both;
            display: table;
            width: 100%;
        }

        .timeline-item {
            /*margin-bottom: 50px;*/
            position: relative;
            @extend %clearfix;

            .timeline-icon {
                background: $timeline-color;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 10px;
                left: 50%;
                overflow: hidden;
                margin-left: -23px;
                @include prefix(border-radius, 50%);
            }



            .timeline-content {
                width: 45%;
                background: #fff;
                padding: 10px;
                @include prefix(box-shadow, 10px 11px 20px 0px rgba(0, 0, 0, 0.48));
                @include prefix(border-radius, 30px);
                @include prefix(transition, all .3s ease);

                h2 {
                    padding: 15px;
                    background: $timeline-color;
                    color: #fff;
                    margin: -10px -10px 0px -10px;
                    font-weight: 300;
                    @include prefix(border-radius, 30px 30px 0px 0px);
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 45%;
                    top: 30px;
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid $timeline-color;
                }
            }

            &:nth-of-type(2n) .timeline-content {
                float: right;

                &:before {
                    content: '';
                    right: 45%;
                    left: inherit;
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #feedHolder {
        margin: 30px;
        padding: 0px;
        width: 90%;

        &:before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;

                &:before {
                    left: 10%;
                    margin-left: -6px;
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                }
            }

            .timeline-icon {
                left: 0;
            }
        }
    }
}
